*{
	color: #1576b9;
}
.menu12{
	color: white;
}
.glyphicon-log-in{
	color: white;
}
.glyphicon-log-out{
	color: white;
}
body{
	background: url(images/login1.jpg) no-repeat center center fixed; 
 	 -webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
}

.miimage{
		width: 30px;
		height: 30px;
}

.tab { 
       display:inline-block; 
       margin-left: 40px; 
}

.table-container{
	color: blue;
	padding: 30px;
	margin-top: 20vh;
	margin-bottom: 20vh;
	margin-left: 50px;
	background: #fff;
}

