#sidebar {
    width: 250px;
    position: fixed;
    top: 20;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
}

/*#sidebar.active {
    margin-left: -250px;
}
*/
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
  background: url(images/bkg1.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background: transparent;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}*/
#main {
  height:100%;
  overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


.nav a{
    color: white !important;
    font-size: 1.8em !important;
    }
.nav li{
    padding-right:30px;
   }

.navbar-header a{
    color: white !important;
    font-size: 1.8em !important;
    }
#/*sidebar {
    background: transparent;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}*/

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #4B088A;
    background: #6A0888;
}#sidebar ul li a:visited {
    color: #4B088A;
    background: #6A0888;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #4B088A;
    background: #3B0B39;
}

