.card-spacing {
	margin-top: 0vh;
	margin-bottom: 8vh;

}
.card-img-bottom {
    width: 22%;
    height: 2cm;
}
.match {
	margin-left: 88mm; 
	margin-bottom: 0vh;
	/*background: rgb(100,100,200);*/
	color: #FFF;

}
.details {
	margin-top: 2vh;
	text-align: left;
	color: rgb(135,185,160);
}

#matchno {
	margin-top: 6vh;
}