/*teams.css*/
.card-img-top1 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 30%;
    height: 30%;
    
}
.card-img-top-team {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 70%;
    height:70%;
    
}

.card-img-top {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 18rem;
    height: 15rem;
    
}
.card-img-left {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 25%;
    height: 25%;;
}